
CrossbellTranslationTool/.vs
CrossbellTranslationTool/CrossbellTranslationTool/bin/Debug
CrossbellTranslationTool/CrossbellTranslationTool/bin/Release
CrossbellTranslationTool/CrossbellTranslationTool/obj/Debug
CrossbellTranslationTool/CrossbellTranslationTool/obj/Release
CrossbellTranslationTool/CrossbellTranslationTool/obj/publish